<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xy.dao.ClassifyMapper">
    <insert id="addClassify" parameterType="classify">
        insert into classify (classifyKey, classify)
        values (#{ classifyKey }, #{ classify });
    </insert>
    
    <select id="queryClassifyKey" resultType="_int">
        select classifyKey
        from classify where classify = #{classify};
    </select>
</mapper>